.chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-width: 5px;
  padding: 10px;
  background-color: black;
  text-align: center;
}

.white-tile {
  display: grid;
  background-color: white;
  padding: 50px;
}

.black-tile {
  display: grid;
  background-color: black;
  padding: 50px;
}
